{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
    <form action="/addItem" method="POST">
      <div class="form-group">
        <label for="inputItem">Add Item</label>
        <input name="inputItem" type="text" class="form-control" id="inputItem" placeholder="Title">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for item in all_items %}
        <li>{{item['title']}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}